body {
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    transition: background-color 0.6s ease;
    /* transform: translate(0,100px); */
    scale: 90%;
}

header {
    text-align: center;
    margin: auto;
    width: 850px;
    transform: translateY(-20px);
}

header h1 {
    font-weight: bold;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
}

.leaderboard {
    flex: 1;
    margin-left: 20px;
    transform: translate(10px,-20px);
}

#leaderboardTable {
    transform: translateX(-20px);
}

#nameForm {
    transform: translateY(-20px);
    margin: 10px;
}

main {
    flex: 2;
    display: flex;
    justify-content: center;
}

.images {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 80%;
    transform: translate(70px,-85px);
}

main {
    display:flex;
    flex-direction: column;
}

.images img {
    width: 100px;
    height: auto;
    margin: 10px 0;
}

#board {
    background-color: lightgrey;
    border-bottom: 1px solid black;
    width: 700px;
    height: 230px;
}

.leaderboard th, .leaderboard td {
    border: 1px solid black;
}

.leaderboard th {
    background-color: #f2f2f2;
}

.leaderboardcell-score, .leaderboardcell-name {
    width: 70px;
    height: 20px;
}

.dark-mode .leaderboard th, 
.dark-mode .leaderboard td {
    border-color: white;
    color: white; 
}
.dark-mode .leaderboard th {
    background-color: #666; 
}

.dark-mode,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p,
.dark-mode label,
.dark-mode li,
.dark-mode .error-code {
    color: white !important;
}
.dark-mode .gameover,
.dark-mode .new-game-button {
    color: white; 
}
.dark-mode input,
.dark-mode button {
    background-color: #333;
    color: white;
    border: 1px solid white; 
}

.cell img {
    width: 100%;
    cursor: pointer;
}
.cell:hover {
    background-color: #666;
}

.cell {
    flex: 1;
    border: 3px solid black;
    width: 100px;
}

.dark-mode .cell {
    border: 3px solid white;
}

.gameover {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    display: none;
    letter-spacing: 0.5em;
}

.new-game-button {
    position: absolute;
    top: 49%;
    left: 49%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    scale: 80%;
}

#musicControl {
    font-family:'Courier New', Courier, monospace;
    position: flex;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    scale: 110%;
    transform: translate(30px,-20px);
}
.dark-mode #musicControl {
    background-color: white;
    color: black;
}

#musicControl:hover {
    background-color: #555;
}

.no-internet-container {
    transform: translateY(10px);
}